<app-header></app-header>
<div class="breadcrumb-cls">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Upload</a>
      </li>
    </ol>
  </nav>
</div>
<div class="upload-home">
  <div class="upload-cls">
    <p>Click on the "Choose File" button to upload your video:</p>

    <form action="/action_page.php">
      <input type="file" id="myFile" name="filename" />
      <input type="submit" />
    </form>
  </div>
</div>

<footer class="text-center text-md-start bg-light text-muted">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://localhost:4200/userhome"
      >bigtube.com</a
    >
  </div>
</footer>
