<app-header></app-header>

<div class="upload-home">
  <div class="upload-cls">
    <p>Click on the "Choose File" button to upload your video:</p>
    <form [formGroup]="FileuploadFormGroup">
      <div class="row">
        <div class="col-12 cat-form">
          Category

          <select
            name="category"
            formControlName="category"
            class="select form-control-lg"
          >
            <option value="1" disabled>Choose option</option>

            <option value="cooking">Cooking</option>

            <option value="beuty">Beuty</option>

            <option value="nature">Nature/Environment</option>
          </select>

          <!-- <label class="form-label select-label">Choose option</label> -->
        </div>
        <!-- <br /> -->

        <div class="file-upload">
          <input
            type="file"
            formControlName="videofile"
            name="videofile"
            class="form-control form-control-lg"
            id="videofile"
          />

          <button type="submit" (click)="onsubmit()">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="text-center text-md-start bg-dark text-muted">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://localhost:4200/userhome"
      >bigtube.com</a
    >
  </div>
</footer>

