.user-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #3697dd 30%,
    #bce6ed 51%,
    #137dc9 100%
  );
}

.media-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 80%;
  height: 76.3vh;
  // background-color: #12d8fa;
  // padding-top: 2%;
  // padding-bottom: 2%;
}

ngx-video-list-player {
  width: 100%;
}

.breadcrumb-cls {
  padding-left: 20px;
  padding-top: 5px;
  background-color: #e6e6e6;
}

.search-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  // margin: 1%;
  // background-color: #fff;
  height: 8vh;
}
.search-section label{
  color: #fff;
  font-weight: bold;
}

.search-section select {
  margin-left: 2%;
  width: 30%;
  height: 40px;
  justify-content: center;
  display: flex;
  //   margin: 10px auto;
  padding: 10px;
  border: 1px solid rgb(148, 147, 147);
  outline: none;
  border-radius: 5px;
}

.search-section button {
  margin-left: 2%;
  width: 10%;
  height: 30px;
  color: #000;
  background-color: #fff;
  background-size: 200% auto;
  font-size: 1em;
  // margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}



