<app-header></app-header>
<div class="user-home">
	<div class="area"></div>

<nav class="main-menu">




    <ul>

        <li>

            <a [routerLink]="['/userhome/Home']">

                <i class="fa fa-home fa-2x"></i>

                <span class="nav-text">

                    Dashboard

                </span>

            </a>



        </li>

        <li>

            <a href="#" [routerLink]="['userhome/uploadvideo']">

                <i class="fa fa-question"></i>

                <span class="nav-text">

                   Help

                </span>

            </a>

        </li>

        <li>

            <a href="#" [routerLink]="['/userhome/Upload']">

                <i class="fa fa-cog"></i>

                <span class="nav-text">

                 Settings

                </span>

            </a>

        </li>

        <li>

            <a href="#" [routerLink]="['/adminhome/viewproducts']">

                <i class="fa fa-comment-o"></i>

                <span class="nav-text">

                  FeedBack

                </span>

            </a>

        </li>

        <li class="has-subnav">

            <a [routerLink]="['/adminhome/productregister']">

                <i class="fa fa-laptop fa-2x"></i>

                <span class="nav-text">

                  Complaint

                </span>

            </a>



        </li>

        <li class="has-subnav">

            <a [routerLink]="['/adminhome/viewcomplaint']">

                <i class="fa fa-info-circle"></i>

                <span class="nav-text">

                  About

                </span>

            </a>

        </li>



    </ul>

    <ul class="logout">

        <li>

            <a href="#" [routerLink]="['/Home/login']">

                <i class="fa fa-power-off fa-2x"></i>

                <span class="nav-text">

                    Logout

                </span>

            </a>

        </li>

    </ul>



</nav>

<section></section>
  <div class="media-player">
    <div class="search-section">
      <span aria-hidden="true">Search</span>
      <input
        type="text"
        formControlName="Password"
        name="Password"
        placeholder="Search Items"
      />
      <button type="submit">Submit</button>
    </div>
    <ngx-video-list-player [config]="config"> </ngx-video-list-player>
  </div>
</div>

<footer class="text-center text-md-start bg-light text-muted">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://localhost:4200/userhome"
      >bigtube.com</a
    >
  </div>
</footer>