<app-header></app-header>
<div class="user-home">
<section></section>
  <div class="media-player">
    <div class="search-section">
      <span aria-hidden="true">Search</span>
      <input
        type="text"
        formControlName="Password"
        name="Password"
        placeholder="Search Items"
      />
      <button type="submit">Submit</button>
    </div>
    <ngx-video-list-player [config]="config"> </ngx-video-list-player>
  </div>
</div>

<footer class="text-center text-md-start bg-light text-muted">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://localhost:4200/userhome"
      >bigtube.com</a
    >
  </div>
</footer>